
/chatbot_api/myhosp/Lib
/chatbot_api/vhosp/Lib
/langchain_intro/venv/Lib
/langchain_intro/vhosp/Lib
/langchain_intro/vhosp/Scripts
/langchain_intro/venv/Scripts
/chatbot_api/vhosp/share
/chatbot_api/vhosp/Scripts
/chatbot_api/vhosp/Include
/chatbot_api/myhosp/Scripts
/langchain_intro/chroma_data
/langchain_intro/venv
/langchain_intro/vhosp
/langchain_intro/__pycache__
/chatbot_api/src/chains/__pycache__
/chatbot_api/myhosp
/chatbot_api/vhosp
/langchain_intro/__pycache__
/chatbot_api/src/chains/__pycache__
*.pyc
/my_venv
/chatbot_api/src/chains/__pycache__
/venv
/vhosp
/chatbot_api/src/chains/__pycache__
*.pyc
langchain_intro/__pycache__/chatbot.cpython-312.pyc
chatbot_api/src/chains/__pycache__/hospital_review_chain.cpython-312.pyc
.env
/chroma_data
/chroma_data
/chroma_data
/.venv
/.venv
